{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departure_full_name }}</h1>
    <p class="mb-4">Найдено {{ tours|length }} туров, от {{ min_price }} до {{ max_price }} и от {{ min_nights }} ночей до {{ max_nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for id, tour in tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour['picture'] }}" alt="" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour['title']|truncate(length=20, killwords=True )}}</h2>
            <p class="card-text">{{ tour['description']|truncate(length=200, killwords=True ) }}</p>
            <a href="{{ url_for('tour_view', id=id) }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
